body {
  background: #665E53;
  overflow-x: hidden;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  color: #ffffff;
}

a {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.cont-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont-header .caption {
  font-style: italic;
}

.page {
  min-height: 625px;
  padding: 25px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .page {
    padding: 25px 50px;
  }
}
.menu {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  margin-top: 15px;
}
.menu:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

h1 {
  font-family: "Abril Fatface", serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 55px;
}

main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cat .big-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cat .big-pic .pic {
  width: 200px;
  height: 200px;
  background: #AD987D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat .big-pic .pic img {
  width: 100px;
  height: 100px;
}
.cat .big-pic h2 {
  font-family: "Abril Fatface", serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  margin-top: 10px;
}
.cat .cont-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 25px;
}
.cat .cont-actions .action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 175px;
}
.cat .cont-actions .action .pic {
  width: 80px;
  height: 80px;
  background: #504661;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat .cont-actions .action .pic img {
  width: 50px;
  height: 50px;
}
.cat .cont-actions .action p {
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  main {
    flex-direction: column;
  }
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec-title {
  font-family: "Abril Fatface", serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: left;
  margin-top: 40px;
}

.section {
  margin: 40px auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.sec {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-end;
  gap: 25px;
}
.sec .subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-size: 22px;
}
.sec.col {
  flex-direction: column;
  align-items: flex-start;
}

.cont-numeros {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cont-add-phone-number .add-phone-number {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.cont-add-phone-number .add-phone-number:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

.cont-add-points {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.cont-add-points .add-points {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.cont-add-points .add-points:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

.cont-choose-client .choose-client {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.cont-choose-client .choose-client:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

.cont-choose-product .choose-product {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.cont-choose-product .choose-product:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

.cont-add-payment .add-payment {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.cont-add-payment .add-payment:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

.cont-note textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  background: #AD987D;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px;
  color: #ffffff;
  font-weight: 500;
}
.cont-note textarea::placeholder {
  color: #ffffff;
  opacity: 0.4;
  font-style: italic;
  font-weight: 200;
}

.compute-btn {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.compute-btn:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

.cont-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cont-input label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  text-align: left;
}
.cont-input input {
  background: #AD987D;
  width: 100%;
  padding: 12px 24px;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  border: none;
  outline: none;
  text-align: left;
}
.cont-input input::placeholder {
  color: #ffffff;
  opacity: 0.4;
  font-style: italic;
  font-weight: 200;
}
.cont-input input.locked {
  background: #504661;
}
.cont-input.large {
  width: 500px;
}
.cont-input.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.cont-input.radio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: 0.1s all linear;
  cursor: pointer;
}
.cont-input.radio input:checked {
  border: 6px solid #ffffff;
}
.cont-input .cont-input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.cont-input .delete-btn {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  background: crimson;
}
.cont-input .delete-btn:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}
.cont-input .delete-btn:hover {
  background: #c91237;
}

.cont-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.cont-btns a {
  background: none;
  border: 3px solid #504661;
  border-radius: 5px;
  text-align: center;
  outline: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.cont-btns a:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}
.cont-btns button {
  background: linear-gradient(97.13deg, #504661 -2.98%, #9586AD 107.22%);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px 25px;
  font-weight: 400;
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
}
.cont-btns button:hover {
  background: linear-gradient(97.13deg, #9586AD -2.98%, #504661 107.22%);
}

.cont-search {
  width: 100%;
  margin: 50px auto;
}
.cont-search .cont-input {
  width: 100%;
}

.cont-tab, table {
  width: 100%;
}

tr {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 12px auto;
}

tbody tr {
  background: #AD987D;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
