form {
    @include flex-center;
    flex-direction: column;
}

.sec-title {
    @include h2;
    text-align: left;
    margin-top: 40px;
}

.section {
    margin: 40px auto;
    max-width: 1200px;
    @include flex-center;
    flex-direction: column;
    align-items: flex-start;
}

.sec {
    margin: 15px 0;
    @include flex-center;
    // align-items: flex-end;
    gap: 25px;

    .subtitle {
        @include text;
        font-size: 22px;
    }

    &.col {
        flex-direction: column;
        align-items: flex-start;
    }
}

// Special for phone numbers
.cont-numeros {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cont-add-phone-number {
    .add-phone-number {
        @include btn-cta;
    }
}

// Special for points
.cont-add-points {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cont-add-points  {
    .add-points {
        @include btn-cta;
    }
}

// Special for client (command page)
.cont-choose-client {
    .choose-client {
        @include btn-cta;
    }
}

// Special for products (command page)
.cont-choose-product {
    .choose-product {
        @include btn-cta;
    }
}

// Special for payment (command page)
.cont-add-payment {
    .add-payment {
        @include btn-cta;
    }
}

// Special for note (command page)
.cont-note {
    textarea {
        width: 100%;
        min-height: 100px;
        resize: none;
        background: $light-brown;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 12px;
        color: $white;
        font-weight: 500;

        &::placeholder {
            color: $white;
            opacity: 0.4;
            font-style: italic;
            font-weight: 200;
        }
    }
}

// Special for compute cost btn (command page)
.compute-btn {
    @include btn-cta;
}

// Special for search (search command page)
.cont-search.tableur {
    @include flex-center;
    gap: 50px;
    align-items: flex-end;
    
    .export-csv {
        @include btn-cta;
    }
}

// Btns specials for command sheet page (delete and invoice)
.cont-btns .delete-command-btn {
    @include btn-cta;
    background: crimson;
        &:hover {
            background: #c91237;
        }
}

.invoice-btn {
    @include btn-cta;
}

.cont-input {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        @include text;
        text-align: left;
    }

    input {
        background: $light-brown;
        width: 100%;
        padding: 12px 24px;
        border-radius: 5px;
        @include text;
        border: none;
        outline: none;
        text-align: left;

        &::placeholder {
            color: $white;
            opacity: 0.4;
            font-style: italic;
            font-weight: 200;
        }

        &.locked {
            background: $dark-purple;
        }
    }

    &.large {
        width: 500px;
    }

    &.radio {
        @include flex-center;
        flex-direction: row;


        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0;
            width: 25px;
            height: 25px;
            border: 1px solid $white;
            border-radius: 50%;
            transition: 0.1s all linear;
            cursor: pointer;

            &:checked { border: 6px solid $white; }
        }
    }

    &.checkbox {
        @include flex-center;
        flex-direction: row;


        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0;
            width: 25px;
            height: 25px;
            border: 1px solid $white;
            border-radius: 5px;
            transition: 0.1s all linear;
            cursor: pointer;

            &:checked { border: 6px solid $white; }
        }
    }

    .cont-input-btn {
        @include flex-center;
        gap: 15px;
    }

    .delete-btn {
        @include btn-cta;
        background: crimson;

        &:hover {
            background: #c91237;
        }
    }
}

.cont-btns {
    margin-top: 25px;
    width: 100%;
    @include flex-center;
    justify-content: space-between;

    a {
        @include btn-cta-ghost;
    }
    

    button {
        @include btn-cta;
    }
}
