h1 {
    @include h1;
}

main {
    margin-top: 50px;
    @include flex-center;
    gap: 75px;
}


.cat {
    @include flex-center;
    flex-direction: column;

    .big-pic {
        @include flex-center;
        flex-direction: column;

        .pic {
            width: 200px;
            height: 200px;
            background: $light-brown;
            border-radius: 50%;
            @include flex-center;

            img {
                width: 100px;
                height: 100px;
            }
        }

        h2 {
            @include h2;
            margin-top: 10px;
        }
    }

    .cont-actions {
        @include flex-center;
        margin-top: 20px;
        gap: 25px;

        .action {
            @include flex-center;
            flex-direction: column;
            max-width: 175px;

            .pic {
                width: 80px;
                height: 80px;
                background: $dark-purple;
                border-radius: 50%;
                @include flex-center;

                img {
                    width: 50px;
                    height: 50px;
                }
            }

            p { margin-top: 10px; }
        }
    }

}




@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
    }
}