.cont-search {
    width: 100%;
    margin: 50px auto;

    .cont-input {
        width: 100%;
    }
}

.cont-tab, table {
    width: 100%;
    text-align: center;
}



tr {
    @include flex-center;
    margin: 12px auto;

    td {
        flex-basis: 20%;
    }

}

tbody {
    tr {
        @include flex-center;
        background: $light-brown;
        border-radius: 5px;
        padding: 12px 24px;
        cursor: pointer;
    }
}

th {
    flex-basis: 20%;
}
